@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
body,
html {
  /* eea849ff 24acf2ff */
  /* from-fuchsia-500 to-cyan-500 */
  @apply m-0 p-0 w-full h-full bg-gradient-to-r from-[#eea849ff] to-[#24acf2ff];
}
/* #region TweakSyncConatiner */
.tweakSyncContainer {
  @apply p-0 m-0;
}
.parentContainer {
  @apply px-16 py-10;
}
.container {
  @apply flex gap-6;
}
/* bg-[#201e23] */
.containerPanel {
  @apply bg-[#ffffff40] rounded-lg w-full;
}
.optionButtonsHolder {
  @apply flex flex-col gap-2 w-32;
}
.optionButtonNormal {
  @apply bg-[#ffffff40] rounded-lg text-lg text-[#ffffffbf];
}
.optionButtonSelected {
  @apply bg-[#ffffffd6] rounded-lg text-lg text-[#3d0000e5];
}
.tweakSyncButton {
  @apply min-w-36 min-h-11 text-[#3d0000e5] text-lg font-semibold flex items-center justify-center gap-1;
}
.startTweakSync {
  @apply bg-[#00808091] tweakSyncButton;
}
.endTweakSync {
  @apply bg-[#ff4141e5] tweakSyncButton;
}
.selectFiles {
  @apply bg-[#0055d491];
}
.watchAll {
  @apply bg-[#ff7f2ae5];
}
.removeAll {
  @apply bg-[#ff4141e5];
}
.tweakSyncHomeOptions {
  @apply flex md:flex-row flex-col gap-2 justify-center items-center py-3;
}
.serverConnectionInfo {
  @apply text-[#3d0000e5] text-base font-semibold pl-12;
}
/* #endregion TweakSyncConatiner */

/* #region FileUriList */
.fileUriEditRemoveContainer {
  @apply w-full flex flex-col gap-1 rounded-lg;
}
.fileUriEditRemove {
  @apply flex justify-between items-center gap-2;
}
.fileUriNumber {
  @apply text-base font-semibold text-[#3d0000e5];
}
.fileUri {
  @apply bg-[#ffffff80] h-7 rounded-lg flex-1 px-4 text-base text-black text-nowrap text-clip text-justify font-semibold;
}
.FileUriHolder {
  @apply flex flex-col gap-1 w-full rounded-lg px-12;
}
.fileUriButtonHolder {
  @apply flex gap-2;
}
.fileUriButton {
  @apply flex items-center justify-center gap-1 min-w-28 h-7 text-[#3d0000e5] text-sm font-bold;
}
.emptyList {
  @apply bg-[#ffffff80] h-7 rounded-lg flex-1 px-4 text-base text-black text-nowrap text-clip text-justify font-semibold flex flex-col gap-1 w-full items-center justify-center;
}
.instruction-subtext {
  @apply flex gap-1;
}
.watch {
  @apply bg-[#ff7f2ae5];
}
.remove {
  @apply bg-[#ff4141e5];
}
.html-react-container {
  @apply flex flex-col gap-1 text-white;
}
.css-container {
  @apply flex flex-col gap-1 text-white  py-3;
}
.htmlCssTitle {
  @apply text-[#2d2651ff] text-lg font-bold tracking-wider underline;
}
.hide {
  @apply hidden;
}
/*#endregion FileUriList*/

/*#region NavBar*/
.tweakSyncNavbarText {
  @apply flex gap-2 text-lg font-light font-mono text-white pl-10;
}
.NavBar {
  @apply bg-[#101010] py-3 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-75;
}
/*#endregion NavBar*/

/*#region Support*/
.SupportContainer {
  @apply flex md:flex-row flex-col gap-7 w-full justify-center items-center py-12 px-8;
}
.contactSupport {
  @apply bg-[#00808091] flex flex-col gap-3 items-center p-7 py-12 w-2/4 min-w-64 h-3/4 min-h-64 rounded-lg;
}
.contactSupportTitle {
  @apply text-xl text-[#3d0000e5] font-bold;
}
.contactSupportDialogue {
  @apply text-base text-justify font-medium;
}
.contactMail {
  @apply text-base font-semibold text-[#3d0000e5] hover:text-[#3d0000e5] hover:underline;
}
.socialLinkDialogue {
  @apply text-base text-justify font-medium;
}
.socialMediaIcons {
  @apply flex gap-2;
}
/*#endregion Support*/
